.mt-100px {
  margin-top: 100px;
}

.wordBreak {
  word-break: break-all;
}

.main_class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add_post_btn {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.comment_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 30px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
